*{

}

/*login*/
.welcome-message{
    font-size: 20px;
    padding: 20px;
}

.login_form{
    padding: 10px;
    text-align: center;
}

.login_form button{
    font-size: 30px;
    padding: 30px;
}


/*autocomplete*/
.autocomplete input{
    font-size: 20px;
    width: 100%;
    padding: 10px 10px;
    border-radius: 10px;
}
.autocomplete ul {
    margin-left: 10px;
    padding: 0;
}
.autocomplete li {
    padding: 5px;
    border-bottom: 1px #101010 solid;
}

/*search*/
.search_form button{
    font-size: 30px;
    padding: 10px 30px;
    margin-top: 10px;
}

.search_form .search_max_results{
    max-width: 50px;
    padding: 3px 5px;
    font-size: 15px;
    border: 1px #204d74 solid;
    border-radius: 5px;
}
.search_form .filters{
    margin: 10px 0;
}

.search_form .filters span{
    margin-right: 10px;
}

/*player*/
.player_outer{
    margin: 20px;
    font-size: 15px;
}


/*video list*/
.video{
    border-bottom: 1px #122b40 solid;
    margin: 5px;
    padding: 5px;
}

.video .title{
    font-size: 24px;
    padding: 10px;
}

.video .description{
    font-size: 14px;
    padding: 10px;
}

.video .thumb{
    padding: 10px;
}
.video .thumb img{
    max-width: 100%;
}

.selected_video_record{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,b1d5e0+100 */
    background: rgb(206,220,231); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(206,220,231,1) 0%, rgba(177,213,224,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(177,213,224,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(206,220,231,1) 0%,rgba(177,213,224,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#b1d5e0',GradientType=0 ); /* IE6-9 */

    border: 1px black solid;
}

/*channels*/
.playlists_title{
    font-size: 20px;
    margin-bottom: 10px;
}
.playlists_outer{

}
.playlist{
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px #262626 solid;
    cursor: pointer;
}

.playlist .title{
    font-size: 16px;
}
.playlist .thumb{
    padding: 0 10px;
}
.playlist .thumb img{
    max-width: 100%;
}
.playlist .count{
    display: inline-block;
    font-size: 14px;
    float: right;
}
.playlists_outer .selected_playlist{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,b1d5e0+100 */
    background: rgb(206,220,231); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(206,220,231,1) 0%, rgba(177,213,224,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(177,213,224,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(206,220,231,1) 0%,rgba(177,213,224,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#b1d5e0',GradientType=0 ); /* IE6-9 */

    border: 1px black solid;
}


/*upload*/
.drop_zone{
    width: 100%;
    height: 80px;
    border: 2px black dashed;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
.error_message{
    color: red;
}

#output{
    margin: 10px 0;
}

#output li{
    border: 1px black solid;
    padding: 5px ;
    font-size: 16px;
}
.progress-outer{
    margin: 10px 0;
}
.status{
    font-size: 20px;
    margin: 5px;
    color: red;
}
.btn-upload{
    font-size: 30px;
    padding: 10px 30px;
    margin-top: 10px;
}