<div class="alert-info welcome-message">
    Hi! Welcome to Youtube application!
</div>

<!--LOGIN -->
<div class="login_form">

    <div ng-show="google_logged_in">
        <h1>YOU ARE LOGGED IN</h1>
    </div>

    <button class="btn btn-primary" ng-disabled="google_logged_in" ng-click="login()">GOOGLE LOGIN</button>
</div>