<nav class="navbar navbar-default" role="navigation" bs-navbar>
    <div class="navbar-header">
        <a class="navbar-brand" href="#/">Home</a>
    </div>
    <ul class="nav navbar-nav">
        <li data-match-route="/search"><a href="#/search">Search</a></li>
        <li data-match-route="/playlist"><a href="#/playlist">My playlists</a></li>
        <li data-match-route="/upload"><a href="#/upload">Upload</a></li>
    </ul>
</nav>