<div class="search_form">
    <form name="search_form" novalidate>
        <div class="filters">
             <span>Max Results: <input name="search_max_results" class="search_max_results" type="number" min="10" max="50" ng-model="search_max_results"></span>
             <span>Autoplay: <input  type="checkbox" ng-model="autoplay"></span>
             <span>Play NEXT: <input  type="checkbox" ng-model="play_next"></span>
        </div>

    </form>
</div>

<div class="player_outer">
    <youtube-video video-id="selected_video_id"></youtube-video>
</div>

<div class="row">
    <!-- channels list-->
    <div class="col-md-3">
        <div class="playlists_title">
            Own Playlists
        </div>
        <div class="playlists_outer">
            <div ng-click="select_playlist($index)" ng-class="{selected_playlist: $index==selected_playlist}" class="playlist row" ng-repeat="playlist in playlists">

                <div class="col-md-3 thumb">
                    <img ng-src="{{ playlist.snippet.thumbnails.medium.url }}"/>
                </div>
                <div class="col-md-9">
                    <div class="title">
                        {{ $index + 1 }}. <a href="" ng-click="select_playlist($index)"> {{ playlist.snippet.title }} </a>

                        <div class="count">Total: {{ playlist.contentDetails.itemCount }}</div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- VIDEO ITEMS-->
    <div class="col-md-9">
        <div class="playlists_title">
            Items
        </div>
        <div class="playlists_outer">
            <div ng-click="select_video($index)" ng-class="{selected_video_record: $index==selected_video}" class="video row" ng-repeat="record in playlist_items">
                <div class="col-md-3">
                    <div class="thumb">
                        <img ng-src="{{ record.snippet.thumbnails.medium.url }}"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="title">
                        {{ $index + 1 }}. <a href=""ng-click="select_video($index)"> {{ record.snippet.title }} </a>
                    </div>
                    <!--<div class="description">-->
                        <!--{{ record.snippet.description }}-->
                    <!--</div>-->
                </div>
            </div>
        </div>

    </div>
</div>

