<!--SEARCH BAR-->
<div class="search_form">
    <form name="search_form" novalidate>
        <p class="alert-danger" ng-show="search_form.search_term.$error.required && (search_form.search_term.$touched || search_form.$submitted)">Your username is required.</p>

        <div class="filters">
             <span>Max Results: <input name="search_max_results" class="search_max_results" type="number" min="10" max="30" ng-model="search_max_results"></span>
             <span>Autoplay: <input  type="checkbox" ng-model="autoplay"></span>
             <span>Play NEXT: <input  type="checkbox" ng-model="play_next"></span>
        </div>

        <!--<input type="text" name="search_term" class="form-control"  ng-model="search_term" placeholder="Type term" required autocomplete="off">-->
        <autocomplete name="search_term" ng-model="search_term" data="search_autocomplete_data" required ></autocomplete>
        <button class="btn btn-primary" ng-click="search()">Search</button>
    </form>
</div>

<!--PLAYER-->
<div class="player_outer">
    <youtube-video video-id="selected_video_id"></youtube-video>
</div>

<!--ITEMS-->
<div class="videos_outer">
    <div ng-class="{selected_video_record: $index==selected_video}" class="video" ng-repeat="record in records">

        <div class="row">
            <div class="col-md-3">
                <div class="thumb">
                    <img ng-src="{{ record.snippet.thumbnails.medium.url }}"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="title">
                   {{ $index + 1 }}. <a href=""ng-click="select_video($index)"> {{ record.snippet.title }} </a>
                </div>
                <div class="description">
                    {{ record.snippet.description }}
                </div>
            </div>
        </div>

    </div>
</div>
