<!--file select-->
<div>
    <div dropfile on-filedrop="file_select($file)" class="drop_zone">Drop file here</div>

    <ul ng-show="file" ng-file="uploading_progress" id="output">
        <li> {{ file.name }} </li>
    </ul>

    <button class="btn-upload" type="button" ng-show="file" ng-click="upload()">Upload</button>
</div>

<!--progress-->
<div ng-show="uploading_progress" class="progress-outer">
    <div class="status"> {{ uploading_progress.status }}</div>

    <div class="progress">
        <div class="progress-bar" ng-model="uploading_progress.percentageComplete" role="progressbar" ng-style="{'width': uploading_progress.percentageComplete + '%' }">
            {{ uploading_progress.percentageComplete }} %
        </div>
    </div>

    <div ng-model="uploading_progress.totalBytes">Total: {{ uploading_progress.totalBytes | bytes}}</div>
    <div ng-model="uploading_progress.bytesUploaded">Uploaded: {{ uploading_progress.bytesUploaded | bytes }}</div>

    <div ng-show="error_message">{{ error_message }}</div>
</div>

<!--result-->
<div class="player_outer">
    <youtube-video video-id="video_id"></youtube-video>
</div>
